# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Pages - only keep Home/Landing page
src/pages/Buy.jsx
src/pages/Buy.css
src/pages/About.jsx
src/pages/About.css
src/pages/Contact.jsx
src/pages/Contact.css
src/pages/Merch.jsx
src/pages/Merch.css
src/components/Navigation.jsx
src/components/Navigation.css
src/pages/PageLayout.css

# Additional - Merch page (don't push live)
src/pages/Merch.jsx
src/pages/Merch.css
